PANEL_HOST=example.com
PANEL_PREFIX=/prefix1_surrounded_by_slashes/
PANEL_PORT=2077

SUB_HOST=$PANEL_HOST
SUB_PREFIX=/prefix2_surrounded_by_slashes/
SUB_PORT=2096

REALITY_SNI=www.sony.com
REALITY_PORT=443